h1 Welcome to your task journal

form#loginForm
  .formfield
    .formfield--prompt Username:
    input(type="text", id="username", name="username")
  .formfield
    .formfield--prompt Password:
    input(type="password", id="password", name="password")
  input.submitButton(type="submit", ng-click='')

a(href="/register") Register
