extends layout

block body
  div(ng-controller='AppCtrl')
    ul.menu
      li
        a(href='view1') view1
      li
        a(href='view2') view2

    div(ng-view)

    div
      | Angular app: v
      span(app-version)

